footer {
  display: flex;
  flex-direction: column;
}
.footerContent {

position: absolute;
  height: 209px;
  width: 1440px;
  top: 4333px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
}

.texteFooter {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  position: absolute;
  right: 32.22%;
  left: 32.15%;
  top: 64.11%;
  bottom: 13.88%;

  color: #ffffff;
}

.logoFooter {
  position: absolute;
  left: 45.76%;
  right: 45.76%;
  top: 31.58%;
  bottom: 49.55%;
  width: 122px;
  height: 39.44px;
  text-align: center;

  img {

    color: #ffffff;
  }
  
}

@media screen and (max-width: 500px) {
  .footerContent {
    width: 375px;
    height: 209px;

    .texteFooter {
      font-size: 12px;
      line-height: 17px;
      left: -18.4%;
      right: -18.4%;
      top: 48.33%;
      bottom: 29.67%;
    }
  }
}
